.App {
  text-align: center;
}

button{
  height:max-content;
  border: none;
  cursor: pointer;
  font-size: calc(5px + 2vmin);
  background-color: rgb(61, 231, 14);
}

.App-header {
  background-color: rgb(61, 231, 14);
  display:flex;
  justify-content: space-between;
  padding-left:5%;
  padding-right:5%;
  color: black;
  height: fit-content;
}

input{
  width:300px;
  border-color: black;
  border-radius:5px;
}